<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/home.css">
    <title>ホーム</title>
</head>
<body class="fadeUp">
    <div class="test">
        <h3>現在ページを作成中です</h3>
        <h3>正式リリース予定日 : 2023 / 10 / 20</h3>
        <h3>version 0.0.1</h3>
    </div>
    <div>
        <h1>
            version 0.0.1
        </h1>
        <p>
            Disetを作りました
        </p>
        <h1>
            version 0.0.0
        </h1>
        <p>
            sign-upとindexページを作成しました
        </p>
    </div>
</body>
</html>