<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet/ress.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/sign-up.css">
    <title>アカウント生成</title>
</head>
<body class="fadeUp">
    &nbsp;
    <div class="from"><br>
        <a href="./signup" class="btn btn-secondary"><i class="bi bi-discord"></i>Discordでログイン</a>
        <hr>
        <h3>現在作成中であり、以下のフォームは使用することができません。アカウント登録を行いたい場合は、disetをご利用下さい</h3>
        <form action="sign-up.ejs" method="post">
            名前(ニックネーム)&nbsp;:&nbsp;<input type="text" placeholder="例) test"><br>
            ID(英数字のみ)&nbsp;:&nbsp;<input type="text" placeholder="例) test"><br><br>
        </form>
    </div>
</body>
</html>